/** @format */

.loadingNav,
.loadingStory,
.loadingCirculate,
.loadingCarousel,
.loadingPost {
  width: 100%;
  margin-bottom: 3vh;
}

.loadingNav {
  background: linear-gradient(
    25deg,
    rgb(136, 134, 129),
    rgb(255, 255, 233),
    rgb(197, 192, 179)
  );
  height: 9vh;
}
.loadingStory {
  height: 22vh;
  background-color: #ffffff;
  box-shadow: 1px 1px 7px 1px #e0dfd2, 1px 1px 11vh 1vh #c8c4bd inset;
}
.loadingCirculate {
  height: 7vh;
  background-color: #e3d6bf;
}
.loadingCarousel {
  height: 33vh;
  background-image: repeating-linear-gradient(
    90deg,
    #dbd7b8,
    #c3bbac 5vh,
    #c4bdb6 5vh,
    #b9b5b0 10vh
  );
}
.loadingPost {
  height: 44vh;
}
.block{
margin-top: 12vh;
}
