/** @format */

.productBox {
  width: 100%;
  background: linear-gradient(
    44deg,
    rgba(205, 235, 93, 0.9) 2%,
    rgb(223, 243, 125) 22%,
    rgba(59, 120, 18, 0.9) 99%
  );
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2vh;
}

.productBoxRow {
  background: linear-gradient(
    44deg,
    rgba(154, 236, 13, 0.9),
    rgba(223, 241, 142, 0.9)
  );
  margin: 1vh;
  padding: 2vh;
  display: flex;
  justify-content: space-around;
}

.productBoxRow label {
  background: radial-gradient(rgba(5, 99, 41, 0.9), rgba(21, 192, 38, 0.9));
  padding: 0.5vh 1vh;
  border: 0.2vh dashed rgb(246, 255, 201);
  border-radius: 0.7vh;
  color: white;
  text-wrap: nowrap;
  height: fit-content;
}

.productBoxRow input {
  outline: none;
  border: 0.3vh ridge rgba(166, 241, 91, 0.9);
  border-radius: 0.6vh;
  padding: 1vh;
  text-align: center;
}
.productBoxRow input[type="file"] {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  font-size: 36px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.productBoxRow textarea {
  width: 60%;
  padding: 1vh;
  border-radius: 1vh;
  border: 0.5vh rgba(169, 241, 91, 0.9) ridge;
  direction: rtl;
}

.productBox input[type="submit"] {
  background: linear-gradient(
    22deg,
    rgba(187, 211, 99, 0.9),
    rgb(176, 221, 121)
  );
}
.radioBox{
  background-color: rgb(101, 192, 76);
  display: flex;
  justify-content: space-around;
}
.checkboxInput {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 16px;
	height: 16px;
	border: 1px solid #fff2de;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50%;
}

.checkboxInput:checked {
	background-color: #a5cd39;
	border: 1px solid #499b01;
}

.checkboxInput:not(:checked) {
	position: relative;
}

.checkboxInput:not(:checked):before,
.checkboxInput:not(:checked):after {
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 2px;
	background-color: #cb0707;
	transition: transform 0.3s ease;
}

.checkboxInput:not(:checked):before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.checkboxInput:not(:checked):after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.submito{
    background: linear-gradient(95deg, #a3e723, #469a18);
    border: .2vh dashed rgba(13, 135, 29);    
}
.submito:hover{
  transform: scale(1.1);
  background: #17a045;
  cursor: pointer;
}