.categoryBox {
  width: 100%;
  padding-right: 2vh;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22%,1fr));  
}
.category {
  margin-left: 5%;
  text-align: center;
}
.categorimage {
  height: 33vh;
  width: 100%;
  
}
.categoriname {
}
@media (max-width:878px) {
  .categoryBox {
    grid-template-columns: repeat(auto-fit,minmax(33%,1fr));  
  }  
}