/** @format */
.navBar {
	width: 100%;
	background: linear-gradient(22deg, rgb(245, 144, 50), rgb(242, 178, 29));
	display: flex;
	position: fixed;
	z-index: 7;
	top: 0;
	justify-content: space-between;

}

.drawer {
	width: 40vw;
	height: 100vh;
	background: radial-gradient(rgba(253, 144, 27, 0.809),
			rgba(252, 190, 6, 0.774));
	direction: rtl;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	z-index: 22;
}

.searchBox {
	width: 90%;
}

.itemBox {
	background: radial-gradient(rgba(249, 140, 45, 0.823),
			rgba(231, 143, 27, 0.855));
	cursor: pointer;
	margin: 1vh;
	padding: 1vh;
	border: 0.5vh ridge rgba(245, 165, 26, 0.816);
}

.itemBox:hover {
	border: dashed 0.2vh rgba(255, 244, 236, 0.912);
}

.item {
	background: linear-gradient(244deg,
			rgba(239, 148, 36, 0.815),
			rgba(215, 149, 42, 0.926));
	border: 0.2vh ridge rgba(236, 251, 255, 0.912);
	border-radius: 0.5vh;
	padding: 1vh;
}

.item:hover {
	transform: translate(1vh);
}

.category {
	background: linear-gradient(44deg,
			rgba(171, 138, 38, 0.797),
			rgba(219, 166, 30, 0.856));
	margin: 1vh;
	padding: 1vh;
	border: 0.3vh ridge rgb(255, 255, 255);
	border-radius: 0.4vh;
}

.options,
.subOptions {
	background: radial-gradient(rgba(255, 228, 191, 0.815),
			rgba(243, 157, 65, 0.71));
	padding: 1vh;
	margin: 1vh;
}

.subOptions:hover,
.category:hover,
.options:hover {
	transform: scale(1.04);
	font-weight: bold;
	color: #f8feff;
}

.image {
	width: 5vh;
	height: 5vh;
}

.navIcon {
	background: radial-gradient(#eec73c, #f6f9ba);
	color: #e27305;
	width: 5vh;
	height: 5vh;
	margin: .2vh;
	display: flex;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	border-radius: 22vh;
	cursor: pointer;
}

.iconBox {
	display: flex;
	justify-content: flex-end;
	min-width: 50%;
}

.profile {
	margin: 0 2vh;
	font-size: 6vh;
	color: #ecbd5f;
	background-color: rgb(231, 190, 44);
	border-radius: 23vh;
	border: .3vh rgb(239, 255, 234) dashed;
	cursor: pointer;
}

.profile:hover {
	transform: rotate(360deg);
	transition: transform 3s;
}

@media (max-width: 777px) {
	.drawer {
		width: 60%;
	}
}