/** @format */
@keyframes borderero {
  0% {
    border-bottom: 0.1vh ridge rgb(241, 10, 10);
  }
}
@keyframes openItems {
  0% {
    transform: translateY(-100%);
  }
}

.navBar {
  background: linear-gradient(
    25deg,
    rgb(196, 193, 150),
    rgb(178, 183, 159),
    rgb(169, 169, 142)
  );
  color: rgb(255, 249, 239);
  position: fixed;
  top: 0;
  z-index: 44;
  display: flex;
  justify-content: space-between;
  direction: rtl;
  text-align: center;
  height: 9vh;
  width: 100vw;
  padding: 0.2vh 7vh;
  border-bottom: 0.4vh rgba(245, 255, 217, 0.9) ridge;
}

.itemsBox {
  z-index: 7;
  margin: 1vh;
  align-items: center;
  display: flex;
}

.item {
  z-index: -1;
  width: 100%;
  margin: 1vh 3vw;
  text-wrap: nowrap;
}
.item:hover {
  animation: borderero 1s;
}
.icono{
  width: 20%;
  height: 100%;
  border-radius:.5vh;
}
.selectListo{
display: flex;
height: 100%;
align-items: center;
justify-content: flex-end;
}
@media (max-width: 999px) {
}
