/** @format */
@keyframes borderero {
  0% {
    border-bottom: 0.1vh ridge rgb(241, 10, 10);
  }
}
@keyframes openItems {
  0% {
    transform: translateY(-100%);
  }
}
.topBar {
  height: 11vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
}

.icono {
  width: 20%;
  height: 100%;
  border-radius: 0.5vh;
}

.searchBar {
  width: 67%;
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.5rem 3rem;
  width: 100%;
  box-sizing: border-box;
}

.searchIcon {
  color: #ccc;
  position: absolute;
}

.hearto {
  padding: 1vh;
  display: flex;
  background-color: #eef0e2;
  border-radius: 23vh;
  color: rgb(56, 54, 54);
}

.heart:hover {
  color: #9c9986;
}


.searchIcon,
.hearto {
  cursor: pointer;
}
.navBar {
  color: rgb(2, 17, 23);
  position: absolute;
  top: 11vh;
  z-index: 44;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 9vh;
  width: 100vw;
  padding: 0.2vh 7vh;
  border-bottom: 0.4vh rgba(245, 255, 217, 0.9) ridge;
}

.itemsBox {
  z-index: 7;
  margin: 1vh;
  align-items: center;
  display: flex;
}

.item {
  z-index: -1;
  width: 100%;
  margin: 1vh 3vw;
  text-wrap: nowrap;
}
.item:hover {
  animation: borderero 1s;
}
.selectListo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 999px) {
}
