/** @format */
@keyframes borderero {
  0% {
    border-bottom: 0.1vh ridge rgb(241, 10, 10);
  }
}
@keyframes openItems {
  0% {
    transform: translateY(-100%);
  }
}

.navBar {
  background: linear-gradient(
    25deg,
    rgb(255, 242, 65),
    rgb(238, 249, 196),
    rgb(252, 255, 86)
  );
  color: rgb(255, 153, 0);
  position: fixed;
  top: 0;
  z-index: 44;
  display: flex;
  justify-content: space-between;
  direction: rtl;
  text-align: center;
  height: 9vh;
  width: 100vw;
  padding: 0.2vh 7vh;
  border-bottom: 0.4vh rgba(245, 255, 217, 0.9) ridge;
}

.itemsBox {
  z-index: 7;
  margin: 1vh;
  align-items: center;
  display: flex;
}

.item {
  z-index: -1;
  width: 100%;
  margin: 1vh 3vw;
  text-wrap: nowrap;
}
.item:hover {
  animation: borderero 1s;
}

.productsopenItemsBox {
  max-height: 50vh;
  overflow-y: auto;
  z-index: -1;
  animation: openItems 1s;
  background: linear-gradient(
    25deg,
    rgb(255, 242, 65),
    rgb(238, 249, 196),
    rgb(252, 255, 86)
  );
  box-shadow: 0px 0px 2px 0px rgb(30, 15, 15);
  border-bottom: 1vh ridge rgb(248, 178, 13);
  border-right: 1vh ridge rgb(253, 238, 32);
  width: 100px;
  border-radius: 0 0 11vh 1vh;
  position: absolute;
  top: 9.2vh;
  padding: 1vh 0;
}
.productTopic {
  background: #e5f3a3;
}

.categoryBox {
  background: linear-gradient(
    12deg,
    rgba(244, 250, 81, 0.9),
    rgba(235, 120, 12, 0.9)
  );
  margin: 4vh 1vh;
  padding: 3vh 1.5vh;
  border-radius: 0.5vh;
  border: 1vh ridge rgb(254, 232, 35);
  border-image-source: linear-gradient(
    13deg,
    rgba(24, 188, 49, 0.9),
    rgba(160, 218, 13, 0.9)
  );
  border-image-slice: 0;
}

.categoryBox:hover {
  border: 1vh double rgba(255, 228, 23, 0.9);
}
.productBox {
  width: 90%;
  margin-right: 8%;
  border-bottom: 0.1vh dashed rgb(241, 129, 10);
  border-left: 0.7vh ridge rgb(253, 238, 32);
  border-radius: 0 0 11vh 1vh;
  background-color: rgb(255, 244, 86);
}
.productBox:hover {
  transform: scale(1.01);
  background-color: rgb(255, 251, 200);
}
.products {
  border-radius: 0 0 11vh 1vh;
  background: linear-gradient(
    25deg,
    rgb(255, 242, 65),
    rgb(238, 249, 196),
    rgb(252, 255, 86)
  );
  margin: 1vh;
  text-wrap: nowrap;
  display: block;
}

.products:hover {
  color: rgb(241, 10, 10);
  font-weight: bolder;
}
.producto {
  background: linear-gradient(
    25deg,
    rgb(255, 242, 65),
    rgb(238, 249, 196),
    rgb(252, 255, 86)
  );
  border-radius: 1vh;
  margin: 1vh;
  text-wrap: nowrap;
  display: block;
}
.producto:hover {
  border-bottom: double 1vh rgb(238, 249, 196);
}
.productop{
	color: rgb(224, 156, 39);
	border-radius: 1vh;
}
.leftSide {
  width: 31%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.navButton {
  border-radius: 1vh;
  padding: 1vh;
  margin: 3vh;
}

.navButton:hover {
  background: linear-gradient(
    333deg,
    rgba(212, 216, 179, 0.9),
    rgba(37, 45, 70, 0.9)
  );
}

.icon {
  font-size: 5vh;
}

.iconBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
}

.profile {
  font-size: 6vh;
  color: #fbffe8;
  background-color: rgb(255, 153, 0);
  border-radius: 23vh;
  border: 0.3vh rgb(239, 255, 234) dashed;
  cursor: pointer;
}

.profile:hover {
  transform: rotate(360deg);
  transition: transform 3s;
}

@media (max-width: 999px) {
}
