/** @format */
.navBar {
  width: 100%;
  height: 9vh;
  background: linear-gradient(
    22deg,
    rgb(150, 196, 186),
    rgb(159, 183, 180),
    rgb(171, 207, 200)
  );
  color: rgb(255, 249, 239);
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 7;
  top: 0;
  padding: 1vh;
}

.drawer {
  padding: 1vh .5vh;
  width: 50vw;
  height: 100vh;
  background: radial-gradient(
    rgba(174, 218, 224, 0.809),
    rgba(156, 206, 204, 0.919)
  );
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 22;
}

.searchBox {
  width: 90%;
}

.itemBox {
  background: linear-gradient(5deg,
    rgba(123, 176, 172, 0.855),
    rgba(156, 203, 197, 0.916),
    rgba(192, 231, 226, 0.893)
  );
  cursor: pointer;
  margin: 1vh;
  color: #05334b;
  padding: 1vh;
  border-radius: 1vh;
  border: .3vh ridge rgba(255, 253, 227, 0.816);
}

.itemBox:hover {
  border: dashed 0.2vh rgba(255, 244, 236, 0.912);
}

.item {
  background: linear-gradient(
    244deg,
    rgba(239, 148, 36, 0.815),
    rgba(215, 149, 42, 0.926)
  );
  border: 0.2vh ridge rgba(236, 251, 255, 0.912);
  border-radius: 0.5vh;
  padding: 1vh;
}

.item:hover {
  transform: translate(1vh);
}

.icono {
  width: 12%;
  opacity: .4;
  height: 50%;
  border-radius: 0.5vh;
}
.selectListo {
  display: flex;
  width: 100%;
  margin-top: 22vh;
  background-color: rgb(129, 129, 129);
  justify-content: space-around;
}

.navIcon p {
  background: radial-gradient(#fff7db, #fffff9);
  color: #ff8001;
  border: 0.3vh dashed rgba(255, 169, 9, 0.949);
  width: 5vh;
  height: 5vh;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 22vh;
  cursor: pointer;
}
.close {
  color: #e27305;
  background-color: #fff7db;
  border-radius: 22vh;
  font-size: 4vh;
}
.close:hover,
.navIcon:hover {
  transform: rotate(120deg) scale(1.1);
  cursor: pointer;
}
.searchBar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.5rem 3rem;
  width: 100%;
  box-sizing: border-box;
}

.searchIcon {
  color: #ccc;
  position: absolute;
}

.iconBox {
  display: flex;
  justify-content: flex-end;
}
.langFlag {
  position: absolute;
  bottom: 0;
  background-color:  rgb(146, 179, 179);
  padding: 1vh;
  display: flex;
  width: 100%;
  justify-content: center;
}
.flag {
height: 3vh;
width: 6vh;
  margin: 1vh 2vh;
  border-radius:1vh;
  cursor: pointer;
}
.flag:hover{
  transform: scale(1.2);
}
@media (max-width: 777px) {
  .drawer {
    width: 60%;
  }
}
