/** @format */
.navBar {
  width: 100%;
  background: linear-gradient(
    22deg,
    rgb(196, 193, 150),
    rgb(178, 183, 159),
    rgb(169, 169, 142)
  );
  color: rgb(255, 249, 239);
  display: flex;
  position: fixed;
  z-index: 7;
  top: 0;
  padding: 1vh;
}

.drawer {
  padding: 1vh .5vh;
  width: 40vw;
  height: 100vh;
  background: radial-gradient(
    rgba(188, 188, 188, 0.809),
    rgba(206, 198, 174, 0.774)
  );
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 22;
}

.searchBox {
  width: 90%;
}

.itemBox {
  background: linear-gradient(5deg,
    rgba(64, 64, 64, 0.855),
    rgba(175, 171, 148, 0.855),
    rgba(255, 238, 223, 0.823)
  );
  cursor: pointer;
  margin: 1vh;
  padding: 1vh;
  border: 0.5vh ridge rgba(255, 253, 227, 0.816);
}

.itemBox:hover {
  border: dashed 0.2vh rgba(255, 244, 236, 0.912);
}

.item {
  background: linear-gradient(
    244deg,
    rgba(239, 148, 36, 0.815),
    rgba(215, 149, 42, 0.926)
  );
  border: 0.2vh ridge rgba(236, 251, 255, 0.912);
  border-radius: 0.5vh;
  padding: 1vh;
}

.item:hover {
  transform: translate(1vh);
}

.icono {
  width: 20%;
  height: 100%;
  border-radius: 0.5vh;
}
.selectListo {
  display: flex;
  width: 100%;
  margin-top: 22vh;
  background-color: rgb(129, 129, 129);
  justify-content: space-around;
}

.navIcon {
  background: radial-gradient(#fff7db, #fffff9);
  color: #e27305;
  border: 0.3vh dashed rgba(255, 113, 18, 0.949);
  width: 9vh;
  height: 7vh;
  margin: 0.2vh;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 22vh;
  cursor: pointer;
}
.close {
  color: #e27305;
  background-color: #fff7db;
  border-radius: 22vh;
  font-size: 4vh;
}
.close:hover,
.navIcon:hover {
  transform: rotate(120deg) scale(1.1);
  cursor: pointer;
}
.searchBar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.5rem 3rem;
  width: 100%;
  box-sizing: border-box;
}

.searchIcon {
  color: #ccc;
  position: absolute;
}

.iconBox {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 777px) {
  .drawer {
    width: 60%;
  }
}
