.whatsApp {
    z-index: 2;
    border: 0.3vh dashed rgb(253, 253, 150);
    background-color: #25d34b;
    color: #ffffff;
    padding: 0.5vh;
    border-radius: 22vh;
    font-size: 7vh;
    position: fixed;
    right: 7vh;
    cursor: pointer;
    bottom: 5vh;
  }
  